---
import { t } from "i18next";
import BaseLayout from "./BaseLayout.astro";
import GameLayout from "./GameLayout.astro";
const { frontmatter } = Astro.props;
const page = 'room'
---

<BaseLayout page={page}>
  <h3>{frontmatter.id} {frontmatter.title}</h3>
  <p>{frontmatter.date}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>{t("game")}: <a href={`/games/${frontmatter.game.slug}`}>{frontmatter.game.slug}</a></p>
  <slot />
</BaseLayout>
